body{
    margin: auto;
    background-color: #414D76;
}

#container{
    width: 80%;
    background-image: url(/background.png);
    margin: auto;
}

#inside{
    background-color: #ACC98B;
    height: fit-content;
    display: flex;
    flex-direction: column;  
    width: fit-content;
    align-items: center;
    margin: auto;
}